.fundomenu {
    background-color: #0D1321;
}

.minhafonte{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.branco{
    color: #F0EBD8;
}